<header>

</header>
<nav>
<img src="../images/title_logo.jpg" alt="">
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/create">Create</a></li>      
        <li><a href="/contact">Contact</a></li>
        <li><a href="/archive">Archive</a></li>  
    </ul>
    <div><input type="text" name="" placeholder="search" id="search-1"><button><i class="fas fa-search"></i></button></div>
</nav>